.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.header__logo {
  width: 100px;
  height: 100px;
}
.header__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.nav-header__link {
  cursor: pointer;
}
@media (any-hover: hover) {
  .nav-header__link:hover {
    color: #007ad9;
  }
}

.search-header {
  margin-left: auto;
  outline: 2px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.search-header__icon {
  cursor: pointer;
}
.search-header__input {
  border: none;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 5px;
}