:host .block {
  position: relative;
  min-height: 350px;
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
@media (any-hover: hover) {
  :host .block:hover .block__image {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
:host .block__image {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}
:host .block__row {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
}
:host .block__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
:host p-button > button {
  padding: 0 2px !important;
}