/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1300px;
}