:host {
  .wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-template-rows: 1fr;
    margin-bottom: 40px;
  }

  padding-bottom: 60px;
}
