<app-movie-filter></app-movie-filter>
<div class="wrapper grid grid-cols-5 gap-4">
  @if (movies$ | async; as movies) {
  @for (movie of movies; track movie.id) {
  <app-movie-card [movie]="movie"></app-movie-card>
  }
  }
</div>
<div class="card flex justify-center mt-4">
  <p-paginator [first]="(page$ | async)?.first ?? 0" [rows]="(page$ | async)?.rows ?? 10"
    [totalRecords]="totalRecords$ | async" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="onPageChange($event)">
  </p-paginator>
</div>