<div class="header">
  <div class="header__row">
    <div class="header__logo flex items-center justify-center"><i class="pi pi-video" style="font-size: 4rem"></i></div>
    <app-aside></app-aside>
    <nav class="header__nav nav-header">
      <ul class="nav-header__list">
        <li class="nav-header__item"><a class="nav-header__link">Home</a></li>
        <li class="nav-header__item"><a class="nav-header__link">Movies</a></li>
        <li class="nav-header__item"><a class="nav-header__link">Series</a></li>
        <li class="nav-header__item"><a class="nav-header__link">My List</a></li>
      </ul>
    </nav>
    <div class="header__search search-header">
      <div class="search-header__icon "><i class="pi pi-search" style="font-size: 1rem"></i></div>
      <input class="search-header__input" type="text" placeholder="Search">
    </div>
  </div>
</div>