.header {
  // .header__row

  &__row {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    column-gap: 20px;
  }

  // .header__logo

  &__logo {
    width: 100px;
    height: 100px;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .header__nav

  &__nav {
  }

  // .header__search

  &__search {
    // flex: 1 1 auto;
  }
}
.nav-header {
  // .nav-header__list

  &__list {
    display: flex;
    column-gap: 25px;
  }

  // .nav-header__item

  &__item {
  }

  // .nav-header__link

  &__link {
    cursor: pointer;
    @media (any-hover: hover) {
      &:hover {
        color: #007ad9;
      }
    }
  }
}
.search-header {
  margin-left: auto;
  outline: 2px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
  width: 300px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  // .search-header__icon

  &__icon {
    cursor: pointer;
  }

  // .search-header__input

  &__input {
    border: none;
    outline: none;
    flex: 1 1 auto;
    padding: 0 5px;
  }
}
