<div class="block cursor-pointer" (click)="selectMovie(movie)">
  <img class="block__image" [src]="
      movie.poster_path
      ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path
      : 'https://via.placeholder.com/500x750?text=No+Image'
      " [alt]="movie.title" />
  <ng-content>

  </ng-content>
  <div class="absolute w-11 h-11 top-0 right-0" (click)="deleteMovieOnList($event,movie.id)"></div>
  <div class="block__row">
    <h5 class="block__title">{{ movie.title }}</h5>
    <p-toast />
    <p-confirmpopup />
    <div class="flex items-center justify-center gap-4">
      <p-button class="" size="small" (onClick)=" addToFavoriteList($event,movie.id)" label="favorite"
        [outlined]="true" />
      <p-button class="whitespace-nowrap" size="small" (onClick)=" addToWatchList($event,movie.id)" label="watch list"
        [outlined]="true" />

    </div>
  </div>
</div>