:host {
  .block {
    position: relative;
    min-height: 350px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    @media (any-hover: hover) {
      &:hover {
        .block__image {
          transform: scale(1.03);
          transition: all 0.3s ease-in-out;
        }
      }
    }
    // .block__image

    &__image {
      transition: all 0.3s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      filter: brightness(0.7);
    }

    &__row {
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: calc(100% - 20px);
    }
    // .block__title

    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
  p-button {
    & > button {
      padding: 0 2px !important;
    }
  }
}
