:host {
  .block {
    position: relative;
    min-height: 350px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    @media (any-hover: hover) {
      &:hover {
        .block__image {
          transform: scale(1.03);
          transition: all 0.3s ease-in-out;
        }
      }
    }
    // .block__image

    &__image {
      transition: all 0.3s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      filter: brightness(0.7);
    }

    &__row {
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: calc(100% - 20px);
    }
    // .block__title

    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    // .block__buttons

    &__buttons {
      display: flex;
      justify-content: center;
      column-gap: 15px;
      text-align: center;
    }
  }
  .button {
    padding: 7px 5px;
    border-radius: 8px;
    font-size: 14px;
    background-color: rgb(214, 95, 95);
    transition: all 0.3s ease-in-out;
    color: #ffffff;
    font-weight: 700;
  }
  .button-favorite {
    @media (any-hover: hover) {
      &:hover {
        transition: all 0.3s ease-in-out;
        background-color: #34d399;
        color: black;
        transform: scale(1.1);
      }
    }
  }
  .button-watch-later {
    background-color: #34d399;
    color: black;
    @media (any-hover: hover) {
      &:hover {
        transition: all 0.3s ease-in-out;
        background-color: rgb(214, 95, 95);
        color: #ffffff;
        transform: scale(1.1);
      }
    }
  }
}
